<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="static\style.css">
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" >
    <div class="container" >
      <a class="navbar-brand mr-4" href="/" style="color: brown; margin-left: 0px;">
        
        <img src="static/upload_icon.jpg" href="/" style="width: 40px;">
      ExFAURL Scanner
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/file">Enter file</a>
          <a class="nav-item nav-link" href="/url">Enter URL</a>
        </div> -->
        <!-- Navbar Right Side -->
        <div class="navbar-nav" >
          <a class="nav-item nav-link" href="/About" style="color: brown;">About Us</a>
          <a class="nav-item nav-link" href="/documentation" style="color: brown;">Documentation</a>
        </div>
      </div>
    </div>
  </nav>

 
    <div class="bg-img">
      <div class="container" style="margin-top: 100px;">
        <div style="display: flex;">
          <img src="static\malscanICON.jpg"  class="malscanICON" height="150px";>
          <H1 style="color: white; margin-left: 30px; font-size: 70px;">ExFAURL Scanner</H1>
        </div>
        <div style="display: flex; justify-content:center; margin-top: 20px;  ">
          <button type="button" onclick="toFile()" style="padding: 30px; font-size: larger;" class="btn btn-warning">Scan File(.exe)</button>
          <button type="button" onclick="toUrl()" style="margin-left: 20px; padding: 30px; font-size: larger;" class="btn btn-warning">Scan URL</button>
        </div>
      </div>
    </div>

    <div class="fixed-bottom">
      
      <footer class="bg-light text-center text-lg-start" >
        
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Scan</h5>
    
            <p>
              Scanning engine is backed up with reliable infrastructure 
              and it is undergoing harness tests to 
              deliver exceptional performance
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Detect</h5>
    
            <p>
              We are committed to innovation
              and consistently enhancing malware
              detection capabilities to provide our 
              customers with effective tools against 
              sophisticated and evolving web threats.
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div> -->
      <!-- Copyright -->
    </footer>
  </div>
    <script>
      function toFile() {
        window.location.assign("file");
      }
      function toUrl() {
        window.location.assign("url");
      }
    </script>

    </body>


    
</html>

